body {
  background-color: #0c1448;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #ffd700; /* Amarelo ouro */
}

p {
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4682b4; /* Azul aço */
  color: #fff;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4169e1; /* Azul real */
}

.score-section {
  text-align: center;
}

.score-section h2 {
  color: #ffd700; /* Amarelo ouro */
}

.score-section button {
  background-color: #4caf50; /* Verde */
}

.space-icon {
  font-size: 3em;
  margin-bottom: 10px;
  color: #ffd700; /* Amarelo ouro */
}
